@charset "UTF-8";
/* Обнуляющий стиль */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

body,
html {
  height: 100%;
  line-height: 1;
}

/* ================================================================ */
[class*=__container] {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0px 15px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueCyr-Light.woff"), format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff2"), format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}
body {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  color: white;
  background: #191919;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 2px solid #413E41;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: reverse;
          flex-direction: reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 586px) {
  .header__container {
    padding: 20px 40px 0px 40px;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 586px) {
  .header__logo {
    padding: 20px 40px 0px 40px;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 100%;
}
.header__logo-icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  max-width: 100%;
  height: 24px;
}
.header__menu .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__menu .header__list :not(:last-child) {
  margin: 0px 45px 0px 0px;
}
@media (max-width: 450px) {
  .header__menu .header__list :not(:last-child) {
    margin: 0px 20px 0px 0px;
  }
}
@media (max-width: 370px) {
  .header__menu .header__list :not(:last-child) {
    margin: 0px 10px 0px 0px;
  }
}
.header__menu .header__list .header__item {
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  font-size: 14px;
  line-height: 643%;
  color: #fff;
}
@media (max-width: 386px) {
  .header__menu .header__list .header__item {
    line-height: 320%;
    font-family: "Helvetica Neue";
    font-weight: 300;
  }
}
.header__menu .header__list .header__item .header__link {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header__menu .header__list .header__item :hover {
  color: #34C759;
}

/*=================================================block-food==================================================================*/
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.block-food {
  background: url("../img/food/image.png") center/cover no-repeat;
  padding: 180px 0px 312px;
}
@media (max-width: 767px) {
  .block-food {
    padding: 180px 0px 112px;
  }
}
@media (max-width: 467px) {
  .block-food {
    padding: 180px 0px 22px;
  }
}
.block-food__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-food__sub-title {
  font-size: 72px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  font-family: "HelveticaNeueCyr";
}
.block-food__sub-title:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
@media (max-width: 767px) {
  .block-food__sub-title {
    font-size: 50px;
  }
}
@media (max-width: 475px) {
  .block-food__sub-title {
    font-size: 30px;
  }
}
.block-food__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.2px;
  opacity: 0.7;
  text-align: center;
}
.block-food__title:not(:last-child) {
  margin: 0px 0px 40px 0px;
}
.block-food__title .block-food__title-poragraph {
  max-width: 595px;
  padding: 0 40px;
}
.block-food__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  padding: 25px 57px;
  background: #34C759;
  border-radius: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid #34C759;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.block-food__button:hover {
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 475px) {
  .block-food__button {
    padding: 15px 37px;
    font-size: 15px;
  }
}
.block-food__card {
  padding: 70px 0 0 0;
}
.block-food__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  row-gap: 30px;
}
@media (max-width: 858px) {
  .block-food__items {
    margin: 0 -50px;
  }
}
.block-food__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 20px;
}
@media (max-width: 858px) {
  .block-food__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    padding: 0 50px;
  }
}
.block-food__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 245px;
}
.block-food__image {
  max-width: 100%;
}
.block-food__image:not(:last-child) {
  margin: 0px 0px 16px 0px;
}
.block-food__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.block-food__icon:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.block-food__poragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
}
.block-food__span {
  font-size: 14px;
  line-height: 2;
  color: #FFFFFF;
  opacity: 0.5;
}

/*============================================About-block======================================================*/
.about-block__container {
  background: #252525;
  padding: 0 15px 90px 15px;
}
@media (max-width: 470px) {
  .about-block__container {
    padding: 0 15px 20px 15px;
  }
}
.about-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 16px;
  line-height: 188%;
  color: #A6A6A6;
}
.about-block__text:not(:last-child) {
  margin: 0px 0px 90px 0px;
}
@media (max-width: 470px) {
  .about-block__text {
    font-size: 14;
  }
  .about-block__text:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}
.about-block__text .about-block__paragraph {
  max-width: 734px;
}
.about-block__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-block__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  max-width: 350px;
  height: 270px;
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}
.about-block__link:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.about-block__picture {
  width: 100%;
}

.block-headers {
  text-align: center;
  max-width: 100%;
  padding: 30px 0 0 0;
}
.block-headers__sub-title {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #303030;
  width: 100%;
}
@media (max-width: 858px) {
  .block-headers__sub-title {
    font-size: 70px;
  }
}
@media (max-width: 470px) {
  .block-headers__sub-title {
    font-size: 45px;
  }
}
.block-headers__title {
  font-size: 30px;
  line-height: 2;
  letter-spacing: 0.2em;
  color: #D9D9D9;
  -webkit-transform: translate(0px, -110px);
      -ms-transform: translate(0px, -110px);
          transform: translate(0px, -110px);
  width: 100%;
}
@media (max-width: 858px) {
  .block-headers__title {
    font-size: 20px;
    -webkit-transform: translate(0px, -70px);
        -ms-transform: translate(0px, -70px);
            transform: translate(0px, -70px);
  }
}
@media (max-width: 470px) {
  .block-headers__title {
    font-size: 14px;
    -webkit-transform: translate(0px, -45px);
        -ms-transform: translate(0px, -45px);
            transform: translate(0px, -45px);
  }
}

/*============================block-work===================================================*/
.block-work {
  padding: 20px 0;
}
.block-work__card {
  padding: 0 20px;
}
.block-work__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin: 0 -20px;
}
.block-work__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.333%;
          flex: 0 1 23.333%;
  padding: 0 20px;
  min-width: 200px;
  background: #252525;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
@media (max-width: 929px) {
  .block-work__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
  }
}
.block-work__item:hover {
  background: #34C759;
  color: #191919;
}
.block-work__item:hover .block-work__title::after {
  background: #252525;
  display: block;
  content: "";
  width: 56px;
  height: 2px;
  position: relative;
  top: 15px;
  left: 0;
}
.block-work__item:hover .block-work__text {
  opacity: 1;
}
.block-work__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 24px 42px 24px;
}
.block-work__title {
  font-size: 22px;
  line-height: 1.1;
  letter-spacing: -0.275px;
  text-transform: capitalize;
}
.block-work__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}
.block-work__title::after {
  display: block;
  content: "";
  width: 56px;
  height: 2px;
  background: #34C759;
  position: relative;
  top: 15px;
  left: 0;
}
.block-work__text {
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  opacity: 0.3;
}

/*================================== block-dishes=====================================================================*/
.block-dishes__card {
  padding: 20px 0;
}
.block-dishes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -20px;
  row-gap: 30px;
}
.block-dishes__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  padding: 0 20px;
  min-width: 300px;
  border-radius: 20px;
}
.block-dishes__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 0px 74.2857142857% 0px;
}
.block-dishes__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
  background: #252525;
  min-width: 290px;
}
.block-dishes__head:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.block-dishes__title {
  font-size: 32px;
  line-height: 94%;
  color: #D9D9D9;
}
.block-dishes__sub-title {
  font-size: 12px;
  line-height: 133%;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}
.block-dishes__text {
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.1625px;
  color: #85878C;
}
.block-dishes__text:not(:last-child) {
  margin: 0px 0px 26px 0px;
}
.block-dishes__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.block-dishes__footer-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.block-dishes__icon {
  display: inline-block;
}
.block-dishes__icon:not(:last-child) {
  margin: 0px 5px 0px 0px;
}
.block-dishes__icon:hover .block-dishes__star {
  background: url("../img/dishes/star.svg") center/cover no-repeat;
}
.block-dishes__number {
  font-weight: 900;
  font-size: 12px;
  line-height: 2.5;
  letter-spacing: 1.5px;
  color: #B3B3B3;
  padding: 0 10px;
}

.button {
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.2em;
  padding: 10px 30px;
  border-radius: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.button:hover {
  color: #1A1A1A;
  background: #34C759;
}