@import "null.scss";

[class*="__container"] {
    margin: 0 auto;
    max-width: 1110px;
    padding: 0px 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/HelveticaNeueCyr-Light.woff"), format("woff"), url("../fonts/HelveticaNeueCyr-Light.woff2"),
        format("woff2");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2");
    font-weight: 900;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}

body {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 300;
    color: #ffff;
    background: #191919;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 2px solid #413E41;
    // .header__container

    &__container {
        display: flex;
        flex-direction: reverse;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
        flex-wrap: wrap;

        @media (max-width:586px) {

            padding: 20px 40px 0px 40px;
            align-self: center;
            align-items: center;
            justify-content: center;
        }


    }

    // .header__logo

    &__logo {
        @media (max-width:586px) {
            padding: 20px 40px 0px 40px;
            align-self: center;
            align-items: center;
            justify-content: center;
        }


    }

    // .header__logo-link

    &__logo-link {
        display: inline-flex;
        max-width: 100%;
    }

    // .header__logo-icon

    &__logo-icon {
        flex: 0 0 208px;
        max-width: 100%;
        height: 24px;
    }

    // .header__menu

    &__menu {


        .header__list {
            display: flex;
            flex-wrap: wrap;

            :not(:last-child) {
                margin: 0px 45px 0px 0px;
            }

            @media (max-width:450px) {
                :not(:last-child) {
                    margin: 0px 20px 0px 0px;
                }

            }

            @media (max-width:370px) {
                :not(:last-child) {
                    margin: 0px 10px 0px 0px;
                }

            }


            .header__item {
                font-family: 'HelveticaNeueCyr';
                font-weight: 700;
                font-size: 14px;
                line-height: 643%;
                color: #fff;

                @media (max-width:386px) {
                    line-height: 320%;
                    font-family: 'Helvetica Neue';
                    font-weight: 300;
                }

                .header__link {
                    transition: all 0.5s ease 0s;
                }

                :hover {
                    color: #34C759;
                }


            }
        }


    }

}

/*=================================================block-food==================================================================*/

@media (max-width:767px) {}

.main {
    flex-grow: 1;
}

.block-food {
    background: url("../img/food/image.png") center/cover no-repeat;
    padding: 180px 0px 312px;

    @media (max-width:767px) {
        padding: 180px 0px 112px;
    }

    @media (max-width:467px) {
        padding: 180px 0px 22px;
    }


    // .block-food__container

    &__container {
        // display: flex;
        // flex-direction: column;
    }

    // .block-food__content

    &__content {}

    // .block-food__header

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // .block-food__sub-title

    &__sub-title {
        font-size: 72px;
        line-height: 1.166;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: capitalize;
        font-family: 'HelveticaNeueCyr';

        &:not(:last-child) {
            margin: 0px 0px 16px 0px;
        }

        @media (max-width:767px) {
            font-size: 50px;
        }

        @media (max-width:475px) {
            font-size: 30px;
        }

    }

    // .block-food__title

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 162%;
        letter-spacing: -0.2px;
        opacity: 0.7;
        text-align: center;


        &:not(:last-child) {
            margin: 0px 0px 40px 0px;
        }

        .block-food__title-poragraph {
            max-width: 595px;
            //margin: 0 auto;
            padding: 0 40px;
        }


    }

    // .block-food__button

    &__button {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.2em;
        color: #1A1A1A;
        padding: 25px 57px;
        background: #34C759;
        border-radius: 30px;
        display: inline-flex;
        border: 2px solid #34C759;
        transition: all 0.5s ease 0s;

        &:hover {
            background: #262626;
            border: 2px solid #303030;
            border-radius: 30px;
            color: rgba(255, 255, 255, 0.5);
        }

        @media (max-width:475px) {
            padding: 15px 37px;
            font-size: 15px;

        }




    }

    // .block-food__card

    &__card {
        padding: 70px 0 0 0;
    }

    // .block-food__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
        row-gap: 30px;

        @media (max-width:858px) {
            margin: 0 -50px;
        }
    }

    // .block-food__item

    &__item {
        flex: 1 1 33.333%;
        padding: 0 20px;

        @media (max-width:858px) {
            flex: 1 1 50%;
            padding: 0 50px;
        }

    }

    // .block-food__body

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 245px;
    }

    // .block-food__image

    &__image {
        max-width: 100%;

        &:not(:last-child) {
            margin: 0px 0px 16px 0px;
        }

    }

    // .block-food__link-ico

    &__link-ico {
        //display: inline-flex;
    }

    // .block-food__icon

    &__icon {
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        transform: rotate(0deg);

        &:hover {
            transform: rotate(45deg);
        }
    }

    // .block-food__text

    &__text {}

    // .block-food__poragraph

    &__poragraph {
        font-weight: 400;
        font-size: 16px;
        line-height: 188%;

    }

    // .block-food__span

    &__span {
        font-size: 14px;
        line-height: 2;
        color: #FFFFFF;
        opacity: 0.5;

    }
}


/*============================================About-block======================================================*/
.about-block {

    // .about-block__container

    &__container {
        background: #252525;
        padding: 0 15px 90px 15px;

        @media (max-width:470px) {
            padding: 0 15px 20px 15px;
        }

    }

    // .about-block__content

    &__content {}

    // .about-block__text

    &__text {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 16px;
        line-height: 188%;
        color: #A6A6A6;

        &:not(:last-child) {
            margin: 0px 0px 90px 0px;
        }

        @media (max-width:470px) {
            font-size: 14;

            &:not(:last-child) {
                margin: 0px 0px 30px 0px;
            }
        }

        .about-block__paragraph {
            max-width: 734px;
        }
    }

    // .about-block__image

    &__image {
        display: flex;
        flex-wrap: wrap;
        gap: 35px;
        justify-content: center;

    }

    // .about-block__link

    &__link {
        display: inline-flex;
        flex: 0 0 350px;
        max-width: 350px;
        height: 270px;
        transform: scale(1, 1);

        &:hover {
            transform: scale(1.1, 1.1);
        }
    }

    // .about-block__picture

    &__picture {
        width: 100%;
    }
}

.block-headers {
    text-align: center;
    max-width: 100%;
    padding: 30px 0 0 0;
    // .block-headers__sub-title

    &__sub-title {
        font-family: 'HelveticaNeueCyr';
        font-style: normal;
        font-weight: 900;
        font-size: 100px;
        line-height: 150%;
        letter-spacing: 0.2em;
        color: #303030;
        width: 100%;

        @media (max-width:858px) {
            font-size: 70px;
        }

        @media (max-width:470px) {
            font-size: 45px;
        }
    }

    // .block-headers__title

    &__title {
        font-size: 30px;
        line-height: 2;
        letter-spacing: 0.2em;
        color: #D9D9D9;
        transform: translate(0px, -110px);
        width: 100%;

        @media (max-width:858px) {
            font-size: 20px;
            transform: translate(0px, -70px);
        }

        @media (max-width:470px) {
            font-size: 14px;
            transform: translate(0px, -45px);
        }
    }
}

/*============================block-work===================================================*/
.block-work {
    padding: 20px 0;
    // .block-work__container

    &__card {
        padding: 0 20px;
    }

    // .block-work__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 -20px
    }

    // .block-work__item

    &__item {
        flex: 0 1 23.333%;
        padding: 0 20px;
        min-width: 200px;
        background: #252525;
        transition: all 0.5s ease 0s;

        @media (max-width:929px) {
            flex: 1 1 33.333%;
        }

        &:hover {
            background: #34C759;
            color: #191919;

        }

        &:hover .block-work__title::after {
            background: #252525;
            display: block;
            content: "";
            width: 56px;
            height: 2px;
            position: relative;
            top: 15px;
            left: 0;

        }

        &:hover .block-work__text {
            opacity: 1;
        }
    }

    // .block-work__body

    &__body {
        // max-width: 200px;
        display: flex;
        flex-direction: column;
        padding: 24px 24px 42px 24px;

    }

    // .block-work__title

    &__title {
        font-size: 22px;
        line-height: 1.1;
        letter-spacing: -0.275px;
        text-transform: capitalize;

        &:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }

        &::after {
            display: block;
            content: "";
            width: 56px;
            height: 2px;
            background: #34C759;
            position: relative;
            top: 15px;
            left: 0;
        }



    }

    // .block-work__text

    &__text {
        font-size: 13px;
        line-height: 138%;
        letter-spacing: -0.1625px;
        opacity: 0.3;

    }
}

/*================================== block-dishes=====================================================================*/
.block-dishes {

    // .block-dishes__container

    &__container {}

    // .block-dishes__card

    &__card {
        padding: 20px 0;
    }

    // .block-dishes__items

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
        row-gap: 30px;
    }

    // .block-dishes__item

    &__item {
        flex: 1 1 33.333%;
        padding: 0 20px;
        min-width: 300px;
        border-radius: 20px;

    }

    // .block-dishes__image

    &__image {
        display: flex;
        padding: 0px 0px 74.28571428571429% 0px;

    }


    &__body {
        display: flex;
        flex-direction: column;
        padding: 30px 30px;
        background: #252525;
        min-width: 290px;
        //box-shadow: 2px 2px 2px 2px #A6A6A6;

    }

    // .block-dishes__head

    &__head {
        &:not(:last-child) {
            margin: 0px 0px 20px 0px;
        }
    }

    // .block-dishes__title

    &__title {
        font-size: 32px;
        line-height: 94%;
        color: #D9D9D9;
    }

    &__sub-title {
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.15px;
        color: #A4A8B2;

    }

    // .block-dishes__text

    &__text {
        font-size: 13px;
        line-height: 138%;
        letter-spacing: -0.1625px;
        color: #85878C;

        &:not(:last-child) {
            margin: 0px 0px 26px 0px;
        }
    }

    // .block-dishes__footer

    &__footer {
        display: flex;
        justify-content: space-around;

    }

    // .block-dishes__footer-icon

    &__footer-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    // .block-dishes__icon

    &__icon {
        display: inline-block;

        &:not(:last-child) {
            margin: 0px 5px 0px 0px;
        }

        &:hover .block-dishes__star {
            background: url("../img/dishes/star.svg")center/cover no-repeat;

        }
    }

    // .block-dishes__star

    &__star {}

    // .block-dishes__number

    &__number {
        font-weight: 900;
        font-size: 12px;
        line-height: 2.5;
        letter-spacing: 1.5px;
        color: #B3B3B3;

        padding: 0 10px;
    }
}



.button {
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 700;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.2em;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-flex;
    transition: all 0.5s ease 0s;
}

.button:hover {
    color: #1A1A1A;
    background: #34C759;
}